<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/testdb</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Gypsyfish!1</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--<mapping class="com.quinngiebel.portfolio.admin.entities.User"/>-->
        <mapping class="com.quinngiebel.portfolio.admin.entities.Piece"/>
    </session-factory>
</hibernate-configuration>